---
import { Globe, Users, Code } from 'lucide-react';
---

<div id="about" class="max-w-4xl mx-auto bg-[#424242] rounded-xl p-8 mb-12 shadow-md shadow-gray-700">
  <h2 class="text-3xl font-semibold mb-6 text-center text-[#edc418]">About the Hackathon</h2>
  <p class="text-center mb-8 pr-20 pl-20">
    HackReality 2024 is a cutting-edge event where innovators, developers, and visionaries come together to shape the future of technology. Our mission is to foster creativity, collaboration, and groundbreaking solutions to real-world challenges.
  </p>
  <div class="grid md:grid-cols-3 gap-6 text-center">
    <div>
      <Code className="mx-auto mb-2 text-[#81E77A]" width="32" height="32" />
      <a href="/users"><h3 class="font-semibold mb-1">Innovative Coding</h3></a>
      <p class="text-sm">Push the boundaries of what's possible with code</p>
    </div>
    <div>
      <Globe className="mx-auto mb-2 text-[#81E77A]" width="32" height="32" />
      <h3 class="font-semibold mb-1">Global Community</h3>
      <p class="text-sm">Connect with peers from around the world</p>
    </div>
    <div>
      <Users className="mx-auto mb-2 text-[#81E77A]" width="32" height="32" />
      <h3 class="font-semibold mb-1">Team Building</h3>
      <p class="text-sm">Form lasting partnerships and friendships</p>
    </div>
  </div>
</div>

