---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404: Not Found - HackReality">
    <main class="flex flex-col items-center justify-center min-h-[90svh] text-white px-4 pt-0">
        <div id="404" class="max-w-4xl mx-auto bg-[#272727] rounded-xl p-8 mb-12 shadow-md shadow-gray-700 text-center">
            <h1 class="text-6xl font-bold text-green-400 mb-4">404</h1>
            <h2 class="text-3xl font-semibold text-purple-400 mb-4">Página no encontrada</h2>
            <p class="text-xl text-center mb-8 max-w-md font-bold">
                Lo sentimos, parece que has hackeado demasiado la realidad y has llegado a una dimensión inexistente.
            </p>
            <a
                href="/"
                class="bg-green-500 hover:bg-purple-400 text-black font-bold py-2 px-4 rounded transition duration-300"
            >
                Volver a la realidad
            </a>
        </div>
    </main>
  </Layout>