---
import Layout from '../layouts/Layout.astro';


// src/pages/index.astro
import CrossmintIntegration from '../components/Crossmint/Test.astro';
---

<Layout title="Future Hack 2024">
  <main class="container mx-auto px-4 pt-12 text-white fade-in">
      <CrossmintIntegration />
  </main>
</Layout>