<footer class="bg-[#2F2F2F] text-center py-8 text-sm text-white">
  <p>&copy; 2024 HackReality. Make with ❤️ by 
    <a href="https://www.linkedin.com/in/ana-alejandra-castillejo/" target="_blank" class="underline text-cyan-300">Ana</a>
    && 
    <a href="https://www.linkedin.com/in/victoor832/" target="_blank" class="underline text-cyan-300">Víctor</a>
    </p>
  <p class="mt-2">Organized by <span class="text-[#81E77A]">HackReality</span> from Málaga</p>
</footer>