<footer class="bg-[#2F2F2F] text-center py-8 text-sm text-white">
  <p>&copy; 2024 HackReality. All rights reserved.</p>
  <p class="mt-2">Organized by <span class="text-[#81E77A]">HackReality</span></p>
</footer>